<buildinfo>
    <program>testprograms/</program>
    <abstractControlFlowGraph>true</abstractControlFlowGraph>
    <optimize>true</optimize>
    <eliminateDeadCode>true</eliminateDeadCode>
    <allocateRegister>false</allocateRegister>
    <instructionScheduling>false</instructionScheduling>
    <generateMachineCode>false</generateMachineCode>
    <outputpath>graphs/</outputpath>
</buildinfo>