<buildinfo>
    <program>/home/sashidhar/course-work/cs241/testprograms/</program>
    <abstractControlFlowGraph>true</abstractControlFlowGraph>
    <optimize>true</optimize>
    <eliminateDeadCode>true</eliminateDeadCode>
    <allocateRegister>false</allocateRegister>
    <instructionScheduling>false</instructionScheduling>
    <generateMachineCode>false</generateMachineCode>
    <outputpath>/home/sashidhar/course-work/cs241/graphs/</outputpath>
</buildinfo>